body {
    padding: 0;
    background-color: #fff;
    margin: 0;
    color: #f0f0f0;
}

#navbar{
    top: 0;
    left: 0;
    width: 100%;
    background: gray;
    z-index: 15;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    /*font-size: 2rem;*/
}

#navlist{
    margin-right: 10px;
    display: flex;
    list-style: none;
}

#navlist a{
    padding: 2rem;
    display: block;
    font-size: 25px;
    text-decoration: none;
    color: #f0f0f0;
}

#navlist a:hover{
    background: rgb(247, 6, 6);
}

#welcome-section{
    display: flex;
    justify-content: flex-end;
    background-color: #000;
    height: 600px;
    text-align: center;
    flex-direction: column;
}
.welcome-section > h1{
    font-size: 6rem;
}

.welcome-section > p{
    font-size: 2rem;
}

#projects{
    background-color: #2196F3;
    padding: 20px 20px;
}

.project_header{
    text-align: center;
    font-size: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  a{
    text-decoration: none;
  }

  .grid-container{
    width: 100%;
  }

  .projects-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }



